{template "content","header"}
<div class="banner">
    <div class="slider js-slider3">
        <ul class="pic js-slider-img-wrap">
            <li><a title="大将军新服" href="#"><img width="437" height="306" src="{IMG_PATH}subject/images/banner.jpg" alt=""></a></li>
            <li><a title="大将军新服" href="#"><img width="437" height="306" src="{IMG_PATH}subject/images/banner.jpg" alt=""></a></li>
            <li><a title="大将军新服" href="#"><img width="437" height="306" src="{IMG_PATH}subject/images/banner.jpg" alt=""></a></li>

        </ul>
        <ul class="num js-slider-num-wrap">
            <li class="cur">1<div class="tip">demo1</div><div class="triangle">sj</div></li>
            <li class="">2<div class="tip">demo2 </div><div class="triangle">sj</div></li>
            <li class="">4<div class="tip">demo4 </div><div class="triangle">sj</div></li>
        </ul>
    </div><!-- .slider -->

</div>
<article class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{IMG_PATH}subject/images/technology.png"/>
            </div>
            <div class="col-md-4">
                <img src="{IMG_PATH}subject/images/manufacturing.png"/>
            </div>
            <div class="col-md-4">
                <img src="{IMG_PATH}subject/images/salse&service.png"/>
            </div>

        </div>
    </div>
    <div class="three-column">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <title>
                        关于我们
                    </title>
                    <article>
                        海桃木剑电子科技有限公司坐落于中国上海，依托上海强大的科研和工业技术优势，长期致力于各类防盗标签产吕的研发和制作长期致力于各类防盗标签产吕的研发和制作长期致力于各类防盗标签产吕的研发和制作长期致力于各类防盗标签产吕的研发和制作。通过公司七年的努力和发展，已经成为集研发、生产销售为一体...
                    </article>
                </div>

                <div class="col-md-4">
                    <title>
                        新闻中心
                    </title>
                    <article >
                        <ul class="news">
                            <li>
                                <a class="f-oh" href="/"><div class="item"></div><b class="pull-left">上海桃木剑开展国际业务...</b>           <date class="pull-right">2012-11-30</date></a>
                            </li>


                        </ul>
                     </article>
                </div>

                <div class="col-md-4">
                    <title>
                        联系我们
                    </title>
                    <article>
                        Add：	Room 1501, No.1328, Zhangyang Road,<br/>
                        Pudong New District, Shanghai City<br/>
                        Contacts：	Mr.Wang<br/>
                        Telephone:	18930012996<br/>
                        Email：	624893472@qq.com<br/>
                        QQ：	624893472
                    </article>
                </div>


            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                 scroll pic
            </div>
        </div>
    </div>

</article>

{template "content","footer"}

<script src="{JS_PATH}zepto.js"></script>
<script src="{JS_PATH}zepto.slider-min.js"></script>
<script src="{JS_PATH}index.js"></script>
