{template "content","header"}


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="crumbs"><a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)} 正文</div>
				<h1>{$title}<br />


				{if $description}
					{$content}
				{else}
					<CENTER><a href="{APP_PATH}index.php?m=content&c=readpoint&allow_visitor={$allow_visitor}"><font color="red">阅读此信息需要您支付 <B><I>{$readpoint} {if $paytype}元{else}点{/if}</I></B>，点击这里支付</font></a></CENTER>
				{/if}

				<div id="pages" class="text-c">{$pages}</div>
		</div>
	</div>
</div>





<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
{template "content","footer"}