<div class="footercolor">
  <div class="footer">
    <div class="w950 center clear">
      <div class="foot_logo"> <a href=""><img src="{IMG_PATH}foot-log.gif" alt="甘肃卓杰瑞华职业培训学校" /></a> </div>
      <ul><br><br>
        <li class="white"><a href="http://www.sndasoft.com/aboutus/">学校介绍</a></li>
        <li class="white"><a href="http://www.sndasoft.com/html/service/">服务项目</a></li>
        <li><a href="http://www.sndasoft.com/html/website/">网站建设</a></li>
        <li><a href="http://www.sndasoft.com/html/software/">软件开发</a></li>
        <li><a href="http://www.sndasoft.com/teachclass/">培训课程</a></li>
        <li><a href="http://www.sndasoft.com/html/sonwebsite/">旗下网站</a></li>
        <li><a href="http://www.sndasoft.com/html/jobs/">工作机会</a></li>
        <li><a href="http://www.sndasoft.com/html/contact/">技术资料</a></li>
        <li><a href="http://www.sndasoft.com/join/classes/">企业动态</a></li>
        <li><a href="http://www.sndasoft.com/join/explain/">意见反馈</a></li>
        <li><a href="http://www.sndasoft.com/join/ask/">盛大软件</a></li>
        <li><a href="http://www.sndasoft.com/free/" style="color:red">免费活动</a></li>
      </ul>
      <div class="copyright"> <a href="http://www.sndasoft.com/">盛大软件</a> &nbsp;&nbsp;版权所有 &copy; 2011<br />
        吉林盛大软件&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国·吉林<br />
        QQ：860275582  38384741<br />
      <span class="power">Technical Support By <a href="http://www.phpcms.cn" target="_blank">PhpCMS V9</a></span> </div>
    </div>
  </div>
</div>
<div style="display:none;">
  统计代码
</div>
</body>
</html>
